/ask.jsp
/askq.jsp
/contact.html
/createquiz.jsp
/createquiz1.jsp
/findname.jsp
/findname2.jsp
/findname3.jsp
/footer.html
/get.jsp
/get1.jsp
/header.jsp
/home.jsp
/index.jsp
/loginprocess.jsp
/logout.jsp
/makequiz.jsp
/quizcontact.jsp
/register.jsp
/registerprocess.jsp
/result.jsp
/saveques.jsp
/start.jsp
/style.css
/takequiz.jsp
/test.jsp
/view.jsp
